@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Nanum+Gothic:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&family=Nanum+Gothic:wght@700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* HEADER PART */ 
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
    ,url(./image/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.mee{
   width: 15%;
   margin-left: 40rem;
   margin-top: 6rem;
}
.intro h1{ /*name*/
    font-size: 28px;
    font-family: 'Fira Sans';
    font-weight: 400;
    color: #fff;
    margin-top: 3rem;
    margin-left: 37rem;
    letter-spacing: 2px;
}
.intro h2{
    font-size: 15px;
    font-family: 'Fira Sans';
    font-weight: 200;
    color: #fff;
    margin-top: 15rem;
    margin-left: 45rem;
    letter-spacing: 2px;
}
.intro p{
    font-size: 20px;
    font-family: 'Fira Sans';
    font-weight: 400;
    color: #fff;
    margin-top: 1rem;
    margin-left: 44rem;
    letter-spacing: 2px;
}

/* ABOUT ME PART */
.secondpage{ /*background*/
    min-height: 100vh;
    width: 100%;
    background: url(./image/bg5.png);
   /* background-color: rgb(236, 236, 247); */
    background-position: center;
    background-size: cover;
    position: relative;
}
.info{
    color: rgb(25, 24, 41);
    padding-top: 50px;
}
.contact h1{ /* contact */
    font-family:'Fira Sans';
    color: rgb(23, 22, 32);
    font-weight: 400;
    font-size: 30px;
    margin-top: -19px;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.contact h2{ /*Number title*/
    font-family:'Fira Sans';
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    margin-top: 2rem;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.contact h3{ /*number */
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -1rem;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.contact h4{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: 1rem;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.contact h5{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -1rem;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.contact h6{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: 1rem;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.contact p{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -1rem;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.socmed h1{
    font-family:'Fira Sans';
    color: rgb(23, 22, 32);
    font-weight: 400;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.socmed h2{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: 2rem;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.socmed h3{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -1rem;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.socmed h4{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: 1rem;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.socmed h5{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -13px;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.socmed1 h1{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.socmed1 h2{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -13px;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.socmed1 h3{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: 1rem;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.socmed1 h4{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -13px;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.basicinfo h1{
    font-family:'Fira Sans';
    color: rgb(23, 22, 32);
    font-weight: 400;
    font-size: 30px;
    margin-top: 3rem;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.basicinfo h2{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.basicinfo h3{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -14px;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.basicinfo h4{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.basicinfo h5{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -14px;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.basicinfo1 h1{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 2rem;
    letter-spacing: 2px;
}
.basicinfo1 h2{
    font-family:'Fira Sans';
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    margin-top: -14px;
    margin-left: 10rem;
    letter-spacing: 2px;
}
.educ h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Fira Sans';
    font-weight: 400;
    margin-top: -35rem;
    margin-left: 30rem;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
.educ h2{
    font-family: Arial;
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 25px;
    margin-top: 14px;
    margin-left: 39rem;
    letter-spacing: 2px;
}
.educ h3{
    font-family:'Fira Sans';
    font-weight: 250;
    color: #fff;
    font-size: 25px;
    margin-top: 1rem;
    margin-left: 39rem;
    letter-spacing: 2px;
}
.educ h4{
    font-family: Arial;
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 25px;
    margin-top: 3rem;
    margin-left: 39rem;
    letter-spacing: 2px;
}
.educ h5{
    font-family:'Fira Sans';
    font-weight: 250;
    color: #fff;
    font-size: 25px;
    margin-top: 1rem;
    margin-left: 39rem;
    letter-spacing: 2px;
}
.educ h6{
    font-family: Arial;
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 25px;
    margin-top: 3rem;
    margin-left: 39rem;
    letter-spacing: 2px;
}
.educ p{
    font-family:'Fira Sans';
    font-weight: 250;
    color: #fff;
    font-size: 25px;
    margin-top: 1rem;
    margin-left: 39rem;
    letter-spacing: 2px;
}
.educ1 h1{
    font-family: Arial;
    width: 200px;
    font-weight: 400;
    color: #fff;
    font-size: 25px;
    margin-top: 3rem;
    margin-left: 39rem;
    letter-spacing: 2px;
}
.educ1 h2{
    font-family:'Fira Sans';
    font-weight: 250;
    color: #fff;
    font-size: 25px;
    margin-top: 1rem;
    margin-left: 39rem;
    letter-spacing: 2px;
}
.thirdpage{
    background: url(./image/bg6.png);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 100px;
}
.gradpic{
    width: 24%;
    margin-top: -5rem;
    margin-left: 22rem;
}
.aboutme h1{
    color: black;
    font-size: 40px;
    font-family: 'Fira Sans';
    margin-top: 4rem;
    margin-left: 50rem;
    letter-spacing: 3px;
}
.aboutme h2{
    color: black;
    font-size: 12px;
    width: 28%;
    font-family: 'Fira Sans';
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: -23rem;
    margin-left: 50rem;
}
.aboutme h3{
    color: black;
    font-size: 12px;
    width: 28%;
    font-family: 'Fira Sans';
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 0rem;
    margin-left: 50rem;
}
.aboutme h4{
    color: black;
    font-size: 12px;
    width: 28%;
    font-family: 'Fira Sans';
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-left: 50rem;
}
.aboutme h5{
    color: black;
    font-size: 12px;
    width: 28%;
    font-family: 'Fira Sans';
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-left: 50rem;
}